<div class="container-fluid pb-5">
    <div *ngIf="detailUser">
        <div class="card-lexx">
            <div class="Card-header">
                <h2 class="card-title">Datos Completos de Usuario</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="card-text">Tipo Documento: {{detailUser.documentType}}</p>
                        <p class="card-text">N° Documento{{detailUser.documentNumber}}</p>
                        <p class="card-text">Fecha Expecicion: {{detailUser.expeditionDate}}</p>
                        <p class="card-text">Email Personal: {{detailUser.personalMail}}</p>
                        <p class="card-text">Email Misena: {{detailUser.emailSena}}</p>
                        <p class="card-text">Genero: {{detailUser.genderType}}</p>
                    </div>
                    <div class="col-6">
                        <p>{{user.idUser}}</p>
                        <p class="card-text">Nombres: {{user.firstName}}</p>
                        <p class="card-text">Apellidos: {{user.lastName}}</p>
                        <p class="card-text">Usuario de ingreso: {{user.username}}</p>
    
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit " class="btn btn-primary " onclick="history.back()">Regresar</button>
    </div>
</div>