.card-lexx
    border-radius 2em 
    -webkit-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
.Card-header
    background-color #F47228
    .card-title
        color white
