<!-- Material form login -->
<div class="container-main">
    <div class="container container-login">
        <div class="row container header-login">
            <div class="image-container col-5">
                <img src="../../../assets/logos/safi_logo.png" class="image-safi">
            </div>
            <div class="white-text text-left py-4 col-7">
                <strong class="h3">Login</strong>
            </div>
        </div>
        <div class="card-body px-lg-5 pt-0">
            <form class="text-center" [formGroup]="loginForm" class="mt-3">
                <div class="md-form">
                    <input type="email" class="form-control text-center" autocomplete="offset"
                        formControlName="username" placeholder="Usuario">
                    <div class="field-required text-center">
                        <p *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty ||
                            loginForm.get('username').touched)">*Campo requerido*</p>
                    </div>
                </div>
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control text-center"
                        formControlName="password" autocomplete="offset" placeholder="Contraseña">
                    <div class="field-required text-center">
                        <p *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty ||
                        loginForm.get('password').touched)">*Campo requerido*</p>
                    </div>
                </div>
                <div>
                    <div *ngIf="!statusSend" class="alert alert-danger alert-dismissible fade show text-center"
                        role="alert">
                        <small>¡ Usuario o contraseña incorrectos !</small>
                        <button type="button" class="close mt-1" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-around mt-4">
                    <div class="row">
                        <div class="col-12 pb-1 col-sm-4  form-check">
                            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember"
                                formControlName="rememberMe">
                            <label class="form-check-label" for="materialLoginFormRemember">Recuérdame</label>
                        </div>
                        <div class="col-12 col-sm-8 ">
                            <a href="">Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-block my-4 waves-effect z-depth-0 mt-4"type="submit" (click)="login()" id="loginSubmit">
                    Iniciar sesion
                </button>
                <p class="mt-5">Not estas registrado?
                    <a href="">Registrate</a>
                </p>
            </form>
        </div>
    </div>
</div>
