/*CONTAINERS STYLES*/
.container-main
    height 95vh
    display: flex
    align-items: center
    margin: 0 .7em

@media (max-width: 288px)
    .container-main
        height 80vh
.container-login
    width: 32em
    height 35em
    border: 1.2px solid #CCCBC4
    padding: 0
/*END CONTAINERS STYLES*/

/*FORMS STYLES*/

.header-login
    background-color: #20AB86 !important
    margin:  0
.image-safi
    width 5em
/*END FORMS STYLES*/

/*VALIDATIONS STYLES*/
.field-required
    margin: 0;
    color: red
    font-size: 15px
    font-family: 'Times New Roman', Times, serif
    height 1.7em
/*END VALIDATIONS STYLES*/

#loginSubmit
    border: solid #20AB86 1px
#loginSubmit:hover
    background-color: #20AB86 !important

.md-form
    margin: 0

