/*VARS*/
colorVerde = #578DD4

.ng-fa-icon
  color white

li
    margin-top .2em
a
    color white

.aside-header
    padding-bottom 4px
    background-color: #578DD4
   
/*CODE MAIN BY ASIDE FIXED*/
.sidebar
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    color white
    background-color colorVerde
    padding-top: 2.55em 
    padding-bottom: .45em

li > a
    border-radius 3.2px


/*RESPONSIVE SIDEBAR*/
.nav-link
    color white
    padding: .5em 1em .5em 1.2em

.sidebar-resposive
    position: fixed;
    top: 0;
    bottom: 0;
    width: 4em;
    background-color colorVerde
    text-align: center !important

.align-item
    float right

.ani-leader, .ani-leader1
    transition-duration: 0.2s


.ani-leader:hover
    transform scale(1.0)
    background-color:  #567DB8
    padding .1em .1em .2em .1em
    .ng-fa-icon
      color black

.ani-leader1:hover
    transform scale(1.0)
    color #3a3a3a
    background-color #567DB8
    padding .6em
    .ng-fa-icon
      color white
//hovers
li > a
    border-radius 2px
    margin-top 5px

li > a:hover
    transform-scale (1.2)

.collapse-b
    color #EFEFEF

.faHome
    color white

