<div class="d-none d-lg-block lfc" *ngIf="!isActiveAside">
    <div class="sidebar">
        <div class="sidebar-wrapper general-data">
            
            <ul class="nav d-block">
                <li class="nav-item d-none d-md-block ani-leader pl-2" data-toggle="collapse" data-target="#demo3"
                    *appHasAnyAuthority="['ROLE_ADMIN']">
                    <fa-icon [icon]="faUsersCog"></fa-icon> <a type="button" class="collapse-b pl-3">Admin</a>
                </li>
                <li id="demo3" class="collapse" *appHasAnyAuthority="['ROLE_ADMIN']">
                    <a [routerLink]="['detail-user']" class="nav-link ani-leader1 mt-1">
                        <fa-icon [icon]="faWeight"> </fa-icon> Usuarios
                    </a>
                
                </li>
            </ul>
        </div>
    </div>
</div>

<!--comite y evaluacion de seguimiento RESPONSIVE==> -->
<div class="sidebar-resposive pt-4 mt-2" *ngIf="isActiveAside">
    <ul class="aside nav flex-column aside-main-r">
           
        <li class="nav-item act-aside-responsive" data-toggle="tooltip" type="button" data-placement="right"
            title="Administracion" *appHasAnyAuthority="['ROLE_ADMIN']">
            <a type="button" class="text-center mt-2 ani-leader" data-toggle="collapse" data-target="#demo1">
                <fa-icon [icon]="faUsersCog"></fa-icon>
            </a>
        </li>

        <li id="demo1" class="collapse text-center" *appHasAnyAuthority="['ROLE_ADMIN']">
            <a [routerLink]="['detail-user']" class="nav-link" data-toggle="tooltip" type="button"
                data-placement="right" title="Usuarios">
                <fa-icon [icon]="faWeight"></fa-icon>
            </a>
        </li>
        <li id="demo1" class="collapse text-center" *appHasAnyAuthority="['ROLE_ADMIN']">
            <a [routerLink]="['tasks']" class="nav-link" data-toggle="tooltip" type="button" data-placement="right"
                title="Tareas">
                <fa-icon [icon]="faWeight"></fa-icon>
            </a>
        </li>
    </ul>
</div>


<!--list-admin-->