.error-validate
    color red
.alert
    color red
.tittle-first, .tittle-second
    padding 0.5em 0 0em 0
.buttons
    margin-bottom 5em
.enableds
    display none
.calendar-input
    width 90%
    display inline