<div class="panel-primary">
    <h2 class="text-center font-weight-bold tittle-main">Creacion De Usuario</h2>
</div>
<div class="container">
    <div class="row">
        <!--·#Region send form detail User-->
        <div class="col-lg-6">
            <form [formGroup]="detailUserFormGroup" novalidate (ngSubmit)="savedetailUser()">
                
                <!--#FIELD FOR DOCUMENT TYPE-->
                <div class="form-group w-100">
                    <label for="formGroupExampleInput">Fecha .....</label>
                    <input matInput [matDatepicker]="picker" class="form-control calendar-input" id="expeditionDate"
                        placeholder="dd/mm/aaaa" formControlName="expeditionDate" name="expeditionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div
                        *ngIf="detailUserFormGroup.get('expeditionDate').invalid &&
                        (detailUserFormGroup.get('expeditionDate').dirty || detailUserFormGroup.get('expeditionDate').touched)">
                        <div *ngIf="detailUserFormGroup.get('expeditionDate').errors.required">
                            <p class="error-validate">* El campo es requerido</p>
                        </div>
                    </div>
                </div>
                <!-- Phone number -->
                <div class="form-group w-100">
                    <label for="formGroupExampleInput">Email </label>
                    <input type="text" autocomplete="offset" class="form-control" id="personalMail"
                        placeholder="Ejemplo: usuario@gmail.com" formControlName="personalMail" name="personalMail">
                    <div
                        *ngIf="detailUserFormGroup.get('personalMail').invalid &&
                        (detailUserFormGroup.get('personalMail').dirty || detailUserFormGroup.get('personalMail').touched)">
                        <div *ngIf="detailUserFormGroup.get('personalMail').errors.required">
                            <p class="error-validate">* El campo es requerido</p>
                        </div>
                        <div *ngIf="detailUserFormGroup.get('personalMail').errors.minLength">
                            <p class="error-validate"> * El campo debe tener Minimo 20 caracteres</p>
                        </div>
                        <div *ngIf="detailUserFormGroup.get('personalMail').errors.maxlength">
                            <p class="error-validate"> *El campo debe tener 45 caracteres</p>
                        </div>
                        <div
                            *ngIf=" detailUserFormGroup.get( 'personalMail').invalid && (detailUserFormGroup.get( 'personalMail').dirty || detailUserFormGroup.get( 'personalMail').touched) ">
                            <div *ngIf="detailUserFormGroup.get( 'personalMail').errors?.pattern ">
                                <p class="error-validate "> *El Correo Electronico No Es Valido
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
          
           
                <div class="w-100 text-center buttons ">
                    <button type="submit" class="btn btn-primary button-send">Enviar Datos</button>
                    <button type="submit " class="btn btn-light button-back"
                        onclick="history.back()">Regresar</button>
                </div>
            </form>
        </div>

    </div>
</div>