//NAV BAR STYLES
.container-nav-bar
    background-color #73A7F5
    color: white
    padding:  0.2em 0

.sltyle-borders
    -webkit-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
//NAME STYLES
.container-name
    text-align: center
    margin: 0
    display: inline-block 
.name-safi
    font-family 'Open Sans', sans-serif
    font-size: 1.4em
    font-weight: bolder
    text-decoration none

//icon-open-sidebar
.icon-open-sidebar
    font-size 22px
    padding-right 1.1em
    padding-left 1.1em
    text-align: center
    margin: 0
//END NAME STYLES


/*CONTAINER ICONS STYLES RIGHT*/
.div-user-content
    display inline-block
.container-icons-right
    display inline-block
    text-align: right  
.nav-icon
    color: white
    font-size: 20px

.nav-icon-logut 
    width: 100%
.div-user-content
    margin: 0em 1em
.account-info
    font-size: 20px
   

/*
** END CONTAINER ICONS STYLES
*/
