
/*Start data listing styles*/
th, td
    font-size 16px
    
.container-searcher
    margin-bottom 12px
.tittle-search
    padding 0 0 2em 0
.search-data
    padding 0 0 2em 0
/*End data listing styles*/
.thead-table
    text-align center
.icons
    text-align center
.detailUserList
    text-align center
.container-text-center
    text-align: center
