<div class="container-fluid pb-5">
    <div class="container-lg">
        <h4 class="title-page text-center tittle-search">Usuarios</h4>
    </div>
 

    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordered">
                <thead class="thead-table">
                    <tr>
                        <th scope="col">_id</th>
                        <th scope="col ">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha Creacion</th>
                        <th scope="col">Fecha Update</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <!---->
                <tbody>
                    <tr class="detailUserList" *ngFor="let item of detailUserList">
                        <td>{{ item.id}}</td>
                        <td>{{ item.cedula }}</td>
                        <td>{{ item.nombre }}</td>
    
                        <td>{{ item.email }}</td>
                        <td>{{ item.fechaCreacion }}</td>
                        <td>{{ item.fechaActualizacion }}</td>
                        <td class="icons">
                            <a type="button">
                                <fa-icon [routerLink]="['./update', item.id]"
                                class="pr-1" [icon]="faPen"></fa-icon>
                            </a>
                            <a type="button" (click)="deleteDetailUser(item.id)"> 
                                <fa-icon class="pr-1" [icon]="faTrash">
                                </fa-icon>
                            </a>
                            <a type="button" [routerLink]="['./detail-user-view', item.id]">
                                <fa-icon class="pr-1" [icon]="faEye"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Start selection with detail user with information-->
        <!--Start selection with detail user with information is pagination-->
        <div class="container-text-center">
            <button *ngFor="let item of listPage; index as i" (click)="loadingPagination(i, pageSize)"
                class="btn btn-xs btn-light" type="button">{{ i + 1 }}</button>
        </div>
    </div>
</div>