<div class="container-fluid pb-5">
    <div class="panel-primary">
        <h2 class="">Actualizacion De Usuarios</h2>
    </div>
    <div class="container text-center">
        <div class="row">
            <!--·#Region send form detail User-->
            <div class="col-lg-6">
                <h3 class="text-center tittle-first">Detalles del Usuario</h3>
                <form [formGroup]="detailUserFormGroup" novalidate (ngSubmit)="savedetailUser()">
                    <!--#FIELD FOR DOCUMENTTYPE-->
                    <div class="form-group w-100">
                        <label for="inputType">Tipo</label>
                        <div *ngIf="detailUserFormGroup.get('documentType').invalid && 
            (detailUserFormGroup.get('documentType').dirty || detailUserFormGroup.get('documentType').touched)  ">
                            <div *ngIf="detailUserFormGroup.get('documentType').errors.required">
                                <p class="error-validate">* Selecciona Una Opcion</p>
                            </div>
                        </div>
                        <select id="inputType" class="form-control" formControlName="documentType">
                            <option>CC</option>
                            <option>TI</option>
                            <option>PASSPORT</option>
                        </select>
                    </div>
                    <!--#FIELD FOR DOCUMENT TYPE-->
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">#Documento </label>
                        <input type="text" class="form-control" id="formControlExampleInput"
                            formControlName="documentNumber" autocomplete="offset" placeholder="Ejemplo: 1002111222" name="documentNumber">
                        <div
                            *ngIf="detailUserFormGroup.get('documentNumber').invalid &&
                            (detailUserFormGroup.get('documentNumber').dirty || detailUserFormGroup.get('documentNumber').touched)">
                            <div *ngIf="detailUserFormGroup.get('documentNumber').errors.required">
                                <p class="error-validate">El campo es requerido</p>
                            </div>
                            <div *ngIf="detailUserFormGroup.get('documentNumber').errors.minLength">
                                <p class="error-validate">El campo debe tener Minimo 8 caracteres</p>
                            </div>
                            <div
                                *ngIf=" detailUserFormGroup.get( 'documentNumber').invalid && (detailUserFormGroup.get( 'documentNumber').dirty || detailUserFormGroup.get( 'documentNumber').touched) ">
                                <div *ngIf="detailUserFormGroup.get( 'documentNumber').errors?.pattern ">
                                    <p class="error-validate "> El Documento No Es Valido, Solo Debe Contener Numeros
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Fecha Expedicion</label>
                        <input matInput [matDatepicker]="picker" class="form-control calendar-input" id="formControlExampleInput" placeholder="dd/mm/aaaa" formControlName="expeditionDate" name="expeditionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <div
                            *ngIf="detailUserFormGroup.get('expeditionDate').invalid &&
                            (detailUserFormGroup.get('expeditionDate').dirty || detailUserFormGroup.get('expeditionDate').touched)">
                            <div *ngIf="detailUserFormGroup.get('expeditionDate').errors.required">
                                <p class="error-validate">* El campo es requerido</p>
                            </div>
                        </div>
                    </div>
                    <!-- Phone number -->
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput"> Celular </label>
                        <input type="text" autocomplete="offset" class="form-control" id="formControlExampleInput"
                            formControlName="phoneNumber" placeholder="Ejemplo: 3124567890" name="phoneNumber">
                        <!-- error block -->
                        <div
                            *ngIf="detailUserFormGroup.get('phoneNumber').invalid &&
                            (detailUserFormGroup.get('phoneNumber').dirty || detailUserFormGroup.get('phoneNumber').touched)">
                            <div *ngIf="detailUserFormGroup.get('phoneNumber').errors.required">
                                <p class="error-validate">* El campo es requerido</p>
                            </div>
                            <div *ngIf="detailUserFormGroup.get('phoneNumber').errors.minLength">
                                <p class="error-validate"> * El campo debe tener Minimo 10 caracteres</p>
                            </div>
                            <div
                                *ngIf=" detailUserFormGroup.get( 'phoneNumber').invalid && (detailUserFormGroup.get( 'phoneNumber').dirty || detailUserFormGroup.get( 'phoneNumber').touched) ">
                                <div *ngIf="detailUserFormGroup.get( 'phoneNumber').errors?.pattern ">
                                    <p class="error-validate "> * El Numero Celular No Es Valido, Solo Debe Contener
                                        Numeros
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Correo Personal </label>
                        <input type="text" autocomplete="offset" class="form-control" id="formControlExampleInput"
                            placeholder="Por Ejemplo: usuario@gmail.com" formControlName="personalMail"
                            name="personalMail">
                        <div
                            *ngIf="detailUserFormGroup.get('personalMail').invalid &&
                            (detailUserFormGroup.get('personalMail').dirty || detailUserFormGroup.get('personalMail').touched)">
                            <div *ngIf="detailUserFormGroup.get('personalMail').errors.required">
                                <p class="error-validate">* El campo es requerido</p>
                            </div>
                            <div *ngIf="detailUserFormGroup.get('personalMail').errors.minLength">
                                <p class="error-validate"> * El campo debe tener Minimo 20 caracteres</p>
                            </div>
                            <div *ngIf="detailUserFormGroup.get('personalMail').errors.maxlength">
                                <p class="error-validate"> *El campo debe tener 45 caracteres</p>
                            </div>
                            <div
                                *ngIf=" detailUserFormGroup.get( 'personalMail').invalid && (detailUserFormGroup.get( 'personalMail').dirty || detailUserFormGroup.get( 'personalMail').touched) ">
                                <div *ngIf="detailUserFormGroup.get( 'personalMail').errors?.pattern ">
                                    <p class="error-validate "> *El Correo Electronico No Es Valido
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Correo Misena </label>
                        <input type="text" autocomplete="offset" class="form-control" id="formControlExampleInput"
                            placeholder="Ejemplo: usuario@misena.edu.co" formControlName="emailSena"
                            name="emailSena">
                        <div
                            *ngIf="detailUserFormGroup.get('emailSena').invalid &&
                            (detailUserFormGroup.get('emailSena').dirty || detailUserFormGroup.get('emailSena').touched)">
                            <div *ngIf="detailUserFormGroup.get('emailSena').errors.required">
                                <p class="error-validate">* El campo es requerido</p>
                            </div>
                            <div *ngIf="detailUserFormGroup.get('emailSena').errors.minLength">
                                <p class="error-validate"> * El campo debe tener Minimo 20 caracteres</p>
                            </div>
                            <div *ngIf="detailUserFormGroup.get('emailSena').errors.maxlength">
                                <p class="error-validate"> * El campo debe tener 45 caracteres</p>
                            </div>
                            <div
                                *ngIf=" detailUserFormGroup.get( 'emailSena').invalid && (detailUserFormGroup.get( 'emailSena').dirty || detailUserFormGroup.get( 'emailSena').touched) ">
                                <div *ngIf="detailUserFormGroup.get( 'emailSena').errors?.pattern ">
                                    <p class="error-validate "> *El Correo Electronico No Es Valido
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label for="inputType">Tipo Genero</label>
                        <div *ngIf="detailUserFormGroup.get('genderType').invalid && 
            (detailUserFormGroup.get('genderType').dirty || detailUserFormGroup.get('genderType').touched)  ">
                            <div *ngIf="detailUserFormGroup.get('genderType').errors.required">
                                <p class="error-validate"> * Selecciona Una Opcion</p>
                            </div>
                        </div>
                        <select id="inputType" class="form-control" formControlName="genderType">
                            <option selected></option>
                            <option>MASCULINO</option>
                            <option>FEMENINO</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class="w-100 text-center buttons ">
                        <button type="submit" class="btn btn-primary button-send">Enviar Datos</button>
                        <button type="submit " class="btn btn-primary button-back"
                            onclick="history.back()">Regresar</button>
                    </div>
                </form>
                <!--·#Region end send form detail User-->
                <!--·#Region begin send form User data-->
            </div>
        </div>
    </div>
</div>