/* You can add global styles to this file, and also import other style files */
//<@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import"~bootstrap/dist/css/bootstrap.css";
html
    min-height 100%
    position relative
body
    margin 0
html, body
    font-family 'Open Sans', sans-serif