<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8 col-12 text-right item-title">
            <p class="text-center p-2">Registro de Usuarios</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center icons-simbol">
            <a class="btn btn-light" [routerLink]="['detail-user-create']"> 
                <fa-icon [icon]="faPlusCircle"></fa-icon>
            </a>

        </div>
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>