/*Start icons style*/
.item-title, .icons-simbol
    padding 1em 0em 2em 0em
/*End icons style*/

/*Responsive for mobiles*/
@media(min-width:320px) and (max-width:576px)
    //Icons title
    .tittle-data
        text-align center
    .item-title, .icons-simbol
        padding 0
    .icons-simbol
        padding 1em 0em 3em 0em
/*Responsive for mobiles*/